form, h4 {
    width: 50%;
    margin-left: 25%;
}

.persCamiseta{
    display: flex;
    width: 100%;
}

.nomCamiseta {
    width: 30%;
    margin-right: 5%;
}

.numCamiseta{
    width: 30%;
    margin-right: 5%;
}

.eqCamiseta {
    width: 30%;
}