<h4>Perzonaliza tu propia camiseta!!</h4>
<form>
  <div class="mb-3">
    <label class="form-label">Nombre y Apellido:</label>
    <input type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Direccion</label>
    <input type="text" class="form-control">
  </div>
  <h6>Informacion de la camiseta</h6>
  <div class="mb-3 persCamiseta">  
    <div class="nomCamiseta">
      <label class="form-label">Nombre:</label>
      <input type="text" class="form-control">
    </div>
    <div class="numCamiseta">
      <label class="form-label">Numero:</label> 
      <input type="number" class="form-control">
    </div>
    <div class="eqCamiseta">
      <label class="form-label">Equipo:</label> 
      <input type="text" class="form-control">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Realizar pedido</button>
</form>
